.menu {
	width: 300px;
	height: 50px;
	margin: 50px auto 30px auto;
	position: relative;
	-webkit-filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800"><filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" /><feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" /><feComposite in="SourceGraphic" in2="goo" operator="atop"/></filter></svg>#goo');
	filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800"><filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" /><feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" /><feComposite in="SourceGraphic" in2="goo" operator="atop"/></filter></svg>#goo');
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: height .8s ease;
	-moz-transition: height .8s ease;
	-ms-transition: height .8s ease;
	-o-transition: height .8s ease;
	transition: height .8s ease;
}

.menu-wrapper {
	position: absolute;
	left: 50%;
	bottom: 10px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
	background: #ffcc33;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	margin-top: -40px;
	height: 80px;
	color: #fff;
	border: none;
	outline: none;
	position: relative;
}

.menu-toggle-button {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-toggle-icon {
	font-size: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
}

.menu-items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.menu-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.menu-item-bounce {
	position: absolute;
	top: 0;
	left: 0;
}

.menu-item-button {
	width: 70px;
	height: 70px;
	margin-left: -35px;
	margin-top: -35px;
	position: absolute;
	top: 0;
	left: 0;
	color: #004d4d;
}

.menu-item-button:hover {
	color: #fff;
}

.icon {
	display: inline-block;
	position: relative;
	font-size: inherit;
	font-style: normal;
	line-height: inherit;
	vertical-align: middle;
	text-rendering: auto;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.icon span{
	font-family: "Lato";
}


